body {
    background-color: rgb(1, 3, 32);
    color: white;
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
}

h1 {
    font-size: 40px;
}

p{
    font-size: 20px;
}

header {
    border-bottom: solid 2px rgb(220, 122, 245);
    padding: 20px;
    font-size: 32px;
    color: rgb(220, 122, 245);
}